.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: aqua;
  box-shadow: 2px 2px 56px rgb(116, 116, 116);
}

.library-songs {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 50%;
    border-radius: 50%;
  }
}
